html {
       overflow-y: scroll;
}
body {
  	background: url("background-01.jpg") top left repeat fixed;
  	background-size: 100%;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

img {
	width: 100%;
}

#PageWrapper {
	color: black;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	height: 100%;
	/* border-left: 1px solid white; */
	/* border-right: 1px solid white; */
	position: relative;
	width: 700px;
}

.SectionHead {
	background-color: rgba(255,255,255,.9);	
	line-height: 150%;
	font-size: 1.4em;
	padding: 0 10px;
	cursor: pointer;
	text-transform: uppercase;
	border-bottom: 1px solid white;
}

.TopBorder {
	border-top: 1px solid white;
}

.BottomBorder {
	border-bottom: 1px solid white;
}

.SectionHead:hover {
	color: black;
	background-color: rgba(255,255,255, .5);
}


.SectionContent {
	width: 100%;
	background-color: rgba(255,255,255, .8);
	overflow: hidden;
}

.ContentPad {
	padding: 10px;
}

.Hidden {
	display: none;
}

.center {
	text-align: center;
}

.videothumb {
	width: 33.33%;
	float: left;
}

@media only screen 
	and (min-width : 200px) 	
	and (max-width : 299px) 
{
	#PageWrapper {
		width: 200px;
	}	
}

@media only screen 
	and (min-width : 300px) 	
	and (max-width : 399px) 
{
  	body {
  		background: url("background-02.jpg") top left repeat fixed;
	} 
	#PageWrapper {
		width: 95%;
	}	
}

@media only screen 
	and (min-width : 400px) 	
	and (max-width : 599px) 
{
	#PageWrapper {
		width: 90%;
	}	
}

@media only screen
	and (min-width : 600px) 	
	and (max-width : 799px) 
{
	#PageWrapper {
		width: 85%;
	}	
}

@media only screen
	and (min-width : 800px)
	and (max-width : 999px)
{
	#PageWrapper {
		width: 80%;
	}	
}

@media only screen
	and (min-width : 1000px)
	and (max-width : 1199px)
{
	#PageWrapper {
		width: 600px;
	}	
}

@media only screen
	and (min-width : 1200px)
{
	#PageWrapper {
		width: 700px;
	}	
}

