<div class="SectionContent BottomBorder">
	<div class="ContentPad">

		<p>{{$ctrl.experience.company}}</p>
		<ul>
			<li>{{$ctrl.experience.title}}</li>
			<li>{{$ctrl.experience.daterange}}</li>
		</ul>

		<ul ng-repeat="duty in $ctrl.experience.duties">
			<li>{{duty}}</li>
		</ul>
		Key Technologies<br>
		<ul ng-repeat="keytech in $ctrl.experience.keytech">
			<li>{{keytech}}</li>
		</ul>

		<!--
		<div ng-repeat="experience in $ctrl.experience" class="phone-list-item">
			<p><a ng-href="#!/experience-detail/{{experience.detailid}}">{{experience.company}}</a></p>
			<ul>
				<li>{{$ctrl.experience.title}}</li>
				<li>{{$ctrl.experience.daterange}}</li>
			</ul>
		</div>
		-->

		<!--
		<div ng-repeat="experience in $ctrl.experiences">
			<h2>{{experience.company}}</h2> 
			<h4><em>{{experience.title}}</em></h4>


			<small>{{experience.daterange}}</small>
			
			<ul ng-repeat="duty in experience.duties">
				<li>{{duty}}</li>
			</ul>
			Key Technologies<br>
			<ul ng-repeat="key in experience.keytech">
				<li>{{key}}</li>
			</ul>
			<br>
		</div>
		-->
	</div>
</div>