<div class="SectionContent BottomBorder">
	<div class="ContentPad">

		<div ng-repeat="experience in $ctrl.experience" class="phone-list-item">
			<p><a ng-href="#!/experience-detail/{{experience.detailid}}">{{experience.company}}</a></p>
			<ul>
				<li>{{experience.title}}</li>
				<li>{{experience.daterange}}</li>
			</ul>
		</div>




		<!--
		<div ng-repeat="experience in $ctrl.experiences">
			<h2>{{experience.company}}</h2> 
			<h4><em>{{experience.title}}</em></h4>


			<small>{{experience.daterange}}</small>
			
			<ul ng-repeat="duty in experience.duties">
				<li>{{duty}}</li>
			</ul>
			Key Technologies<br>
			<ul ng-repeat="key in experience.keytech">
				<li>{{key}}</li>
			</ul>
			<br>
		</div>



<div ng-repeat="user in _users | filter:{User.active:1}">
        {{user.User.userid}}
</div>

/* from video detail */
    controller: ['$routeParams',

  		function ShowVideoDetailController($routeParams) {

	   		this.videoid = $routeParams.videoid;

  		}
    ],


		-->
	</div>
</div>