<div class="SectionContent BottomBorder">
	<div class="ContentPad">

		<p>As a full stack web developer, I've encountered many technologies and tools. 
			Here's a semi-comprehensive list of technologies that I've encountered, learned, and mastered - to one degree or another. Of course, each day introduces new techniques and knowledge and mastery seems elusive.</p>

		<table class="SkillsTable">

			<!-- FRONT END HEADER -->
			<tr class="SkillsHeadRow">
				<td>Front End Development</td>
				<td align="center" width="125">Years Exp</td>
				<td align="center" width="125">Skill Level</td>
			</tr>

			<!-- FRONT END DATA -->
			<tr ng-repeat="skill in $ctrl.techskills | filter:{skillid:1}" class="">
				<td>{{skill.skillname}}</td>
				<td align="center">{{skill.experience}}</td>
				<td align="center"><span ng-bind-html="skill.level | stars"></span></td>
				
			</tr>

			<!-- BACK END HEADER -->
			<tr class="SkillsHeadRow">
				<td>Back End Development</td>
				<td align="center" width="125">Years Exp</td>
				<td align="center" width="125">Skill Level</td>
			</tr>

			<!-- BACK END DATA -->
			<tr ng-repeat="skill in $ctrl.techskills | filter:{skillid:2}">
				<td>{{skill.skillname}}</td>
				<td align="center">{{skill.experience}}</td>
				<td align="center"><span ng-bind-html="skill.level | stars"></span></td>
			</tr>

			<!-- DATABASE HEADER -->
			<tr class="SkillsHeadRow">
				<td>Database Development</td>
				<td align="center" width="125">Years Exp</td>
				<td align="center" width="125">Skill Level</td>
			</tr>

			<!-- DATABASE DATA -->
			<tr ng-repeat="skill in $ctrl.techskills | filter:{skillid:3}">
				<td>{{skill.skillname}}</td>
				<td align="center">{{skill.experience}}</td>
				<td align="center"><span ng-bind-html="skill.level | stars"></span></td>
			</tr>

			<!-- TOOLS HEADER -->
			<tr class="SkillsHeadRow">
				<td>Development Tools</td>
				<td align="center" width="125">Years Exp</td>
				<td align="center" width="125">Skill Level</td>
			</tr>

			<!-- TOOLS DATA -->
			<tr ng-repeat="skill in $ctrl.techskills | filter:{skillid:4}">
				<td>{{skill.skillname}}</td>
				<td align="center">{{skill.experience}}</td>
				<td align="center"><span ng-bind-html="skill.level | stars"></span></td>
			</tr>

		</table>

	</div>
</div>