<div class="SectionContent BottomBorder">
	<div class="ContentPad">

		<p>As a full stack web developer, I've encountered many technologies. Here's a list of technologies that I've learned and mastered. Of course, each day brings new challenges
		and mastery seems elusive.</p>

		<table class="SkillsTable">

			<!-- FRONT END HEADER -->
			<tr class="SkillsHeadRow">
				<td>Front End Development</td>
				<td align="center" width="125">Years Exp</td>
				<td align="center" width="125">Skill Level (1-5)</td>
			</tr>

			<!-- FRONT END DATA -->
			<tr ng-repeat="skill in $ctrl.techskills | filter:{skillid:1}" class="">
				<td>{{skill.skillname}}</td>
				<td align="center">{{skill.experience}}</td>
				<td align="center"><span ng-bind-html="{{skill.level | checkmark}}"></span></td>
			</tr>

			<!-- BACK END HEADER -->
			<tr class="SkillsHeadRow">
				<td>Back End Development</td>
				<td align="center" width="125">Years Exp</td>
				<td align="center" width="125">Skill Level (1-5)</td>
			</tr>

			<!-- BACK END DATA -->
			<tr ng-repeat="skill in $ctrl.techskills | filter:{skillid:2}">
				<td>{{skill.skillname}}</td>
				<td align="center">{{skill.experience}}</td>
				<td align="center">{{skill.level}}</td>
			</tr>

			<!-- DATABASE HEADER -->
			<tr class="SkillsHeadRow">
				<td>Database</td>
				<td align="center" width="125">Years Exp</td>
				<td align="center" width="125">Skill Level (1-5)</td>
			</tr>

			<!-- DATABASE DATA -->
			<tr ng-repeat="skill in $ctrl.techskills | filter:{skillid:3}">
				<td>{{skill.skillname}}</td>
				<td align="center">{{skill.experience}}</td>
				<td align="center">{{skill.level}}</td>
			</tr>

		</table>

		<!--
		<table>
			<tr ng-repeat="skill in $ctrl.techskills">
				<th colspan="3">{{skill.skilltype}}</th>
			</tr>
		</table>

		<ul ng-repeat="techskills in $ctrl.techskills">
			<li>{{techskills.skilltype}}</li>
			<ul ng-repeat="skills in $ctrl.techskills.skilly">
				{{skills}}
			</ul>	
		</ul>
		-->

	</div>
</div>