<div class="SectionContent BottomBorder">
  <div class="ContentPad">

    <!-- LOOP THROUGH THE GALLERY THEME ARRAY -->
    <div ng-repeat="theme in $ctrl.gallery" class="gallerygroup">

      <h4>{{theme.theme}} - Gallery {{$index}}</h4>

      <ul class="gallerylist">

        <!-- LOOP THROUGH A GALLERY THEME -->
        <li class="gallerylistitem" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index">  <a href="" ng-click="$ctrl.showImage(theme.themeid, i)">
            <img class="gallerythumb"
              ng-src="gallery/{{theme.themeid}}_{{i}}_thumb.jpg" 
              >
        </li></a>

      </ul>

      <!-- CREATE THE SPACE FOR THE FULL PHOTO -->
      <div class="gallerybig">
        <img class="BigImage" ng-src="{{$ctrl.bigimage}}">
      </div> 

      <hr>

    </div>

  </div>
</div>
